mixin breadcrumbs()
    .breadcrumbs 
        .breadcrumbs__body.container 
            a(href="#!").breadcrumbs__item Main 
            img(src="@img/icon-right.svg", alt="" draggable="false") 
            a(href="#!").breadcrumbs__item Games 
            img(src="@img/icon-right.svg", alt="" draggable="false") 
            a(href="#!").breadcrumbs__item.active GTA V 