mixin carousel()
    .carousel 
        .carousel__body.swiper 
            .carousel__wrapper.swiper-wrapper 
                .carousel__slide.swiper-slide 
                    img(src="@img/carousel-bg.png", alt="" draggable="false").carousel__bg
                    .carousel__container.container
                        .carousel__content 
                            .carousel__tag Best games
                            h1.carousel__title fortnite
                            h2.carousel__desc Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat 
                            a(href="#!").carousel__button Learn more 
                        .carousel__img 
                            img(src="@img/carousel-1.png", alt="" draggable="false")
                .carousel__slide.swiper-slide 
                    img(src="@img/carousel-bg.png", alt="" draggable="false").carousel__bg
                    .carousel__container.container
                        .carousel__content 
                            .carousel__tag Best games
                            h1.carousel__title fortnite
                            h2.carousel__desc Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat 
                            a(href="#!").carousel__button Learn more 
                        .carousel__img 
                            img(src="@img/carousel-1.png", alt="" draggable="false")
                .carousel__slide.swiper-slide 
                    img(src="@img/carousel-bg.png", alt="" draggable="false").carousel__bg
                    .carousel__container.container
                        .carousel__content 
                            .carousel__tag Best games
                            h1.carousel__title fortnite
                            h2.carousel__desc Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat 
                            a(href="#!").carousel__button Learn more 
                        .carousel__img 
                            img(src="@img/carousel-1.png", alt="" draggable="false")
            .carousel__controls.container 
                .swiper-fraction#fraction
                .swiper-pagination 
                .swiper-button-prev 
                .swiper-button-next