mixin intro()
    .intro 
        .container 
            .intro__body
                .intro__content 
                    h2.intro__title all the new games this year
                    p.intro__desc Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat 
                    a(href="#!").intro__button Learn more
                .intro__img
                    img(src="@img/intro-img.png", alt="" draggable="false")
