mixin requirements() 
    .requirements 
        .requirements__body.container 
            h2.requirements__title Systems required Grand The Auto 5 
            .requirements__item 
                p.requirements__item-title Minimum system requirements: 
                .requirements__row 
                    .requirements__header 
                        p Operating system (OS) 
                    .requirements__content 
                        p Windows 10 (64-bit)   
                .requirements__row 
                    .requirements__header 
                        p Processor (CPU)
                    .requirements__content 
                        p Intel Core i5-8400 or AMD Ryzen 3 3300X
                .requirements__row 
                    .requirements__header 
                        p Video card (GPU)
                    .requirements__content 
                        p NVIDIA GeForce GTX 1060, 3 GB or AMD Radeon RX 580, 4 GB
                .requirements__row.toggle.toggled  
                    .requirements__header 
                        p Free disk space (STO)
                    .requirements__content 
                        p 60 GB
                .requirements__row.toggle.toggled  
                    .requirements__header 
                        p Version Direct X (DX)
                    .requirements__content 
                        p Version 12 (feature level 12.0)
                .requirements__row.toggle.toggled  
                    .requirements__header 
                        p RAM
                    .requirements__content 
                        p 12 GB RAM
                .requirements__button 
                    button(type='button').requirements__button-icon
                        svg(width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M1.57143 5.64026L5.5 9.16527L9.42857 5.64026L11 6.34526L5.5 11.2803L0 6.34526L1.57143 5.64026Z" fill="white")
                            path(d="M1.57143 0L5.5 3.52516L9.42857 0L11 0.705032L5.5 5.64026L0 0.705032L1.57143 0Z" fill="white")
                    p See all requirements
                .requirements__hr 
            .requirements__item 
                p.requirements__item-title Minimum system requirements: 
                .requirements__row 
                    .requirements__header 
                        p Operating system (OS) 
                    .requirements__content 
                        p Windows 10 (64-bit)   
                .requirements__row 
                    .requirements__header 
                        p Processor (CPU)
                    .requirements__content 
                        p Intel Core i5-8400 or AMD Ryzen 3 3300X
                .requirements__row 
                    .requirements__header 
                        p Video card (GPU)
                    .requirements__content 
                        p NVIDIA GeForce GTX 1060, 3 GB or AMD Radeon RX 580, 4 GB
                .requirements__row.toggle.toggled  
                    .requirements__header 
                        p Free disk space (STO)
                    .requirements__content 
                        p 60 GB
                .requirements__row.toggle.toggled  
                    .requirements__header 
                        p Version Direct X (DX)
                    .requirements__content 
                        p Version 12 (feature level 12.0)
                .requirements__row.toggle.toggled  
                    .requirements__header 
                        p RAM
                    .requirements__content 
                        p 12 GB RAM
                .requirements__button
                    button(type='button').requirements__button-icon
                        svg(width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M1.57143 5.64026L5.5 9.16527L9.42857 5.64026L11 6.34526L5.5 11.2803L0 6.34526L1.57143 5.64026Z" fill="white")
                            path(d="M1.57143 0L5.5 3.52516L9.42857 0L11 0.705032L5.5 5.64026L0 0.705032L1.57143 0Z" fill="white")
                    p See all requirements
