mixin thumb()
    .thumb 
        .thumb__body.container 
            .thumb__inner
                .thumb__img 
                    img(src="@img/thumb.png", alt="" draggable="false")
                .thumb__content
                    p.thumb__title Grand Theft Auto V 
                    p.thumb__info #[span Release date:] 2022. March 01. (PC)
                    p.thumb__info #[span Developer:] Iron Galaxy
                    p.thumb__info #[span Genre:] Action, Adventure, Roguelite